### Loading Models from MLFlow and Predictions

In [4]:
import os
import mlflow
from dotenv import load_dotenv

In [7]:
load_dotenv()

mlflow.set_tracking_uri(os.environ["MLFLOW_TRACKING_URI"])
mlflow.set_experiment(experiment_name=os.environ["EXPERIMENT_NAME"])
logged_model = 'runs:/5e411905a21a43579b8bf2f61fdb7258/model'

# Load model as a PyFuncModel.
loaded_model = mlflow.xgboost.load_model(logged_model)

In [8]:
type(loaded_model)

xgboost.sklearn.XGBClassifier

In [9]:
import pandas as pd

In [10]:
file_path = "./data.csv"

df = pd.read_csv(file_path)

In [14]:
from sklearn.model_selection import train_test_split

df["thal"] = df["thal"].astype("category").cat.codes

X_train, X_test, y_train, y_test = train_test_split(
    df.drop("target", axis=1),
    df["target"],
    test_size=0.1)

In [15]:
X_test.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
31,60,1,4,117,230,1,0,160,1,1.4,1,2,2
23,58,1,3,132,224,0,2,173,0,3.2,1,2,2
40,65,0,4,150,225,0,2,114,0,1.0,2,3,2
37,57,1,4,150,276,0,2,112,1,0.6,2,1,0
0,63,1,1,145,233,1,2,150,0,2.3,3,0,0

In [16]:
loaded_model.predict(X_test)

array([1, 1, 1, 0, 0])